<head>
  <link rel="stylesheet" href="app.component.css">
</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav {
    overflow: hidden;
    background-color: lightblue;
  }

  .topnav a {
    float: left;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .topnav a:hover {
    color: black;
  }

  .topnav a.active {
    color: grey;
  }
</style>
<div class="topnav">
  <a> <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="100" height="100"
      alt="Logo Unavaliable"></a>
  <a>
    <h1 style="padding:10px;color: black;">Online Entrance Examination</h1>
  </a>
</div>
<div class="topnav">
  <a class="active" href="/firstpage">Home</a>
  <a href="/ssignup">Register</a>
  <a href="/viewstudents">View Students</a>
</div>
<br>

<router-outlet></router-outlet>

<br>
<br>
<div class="footer">
  <div class="footer-content">

    <div class="footer-section time">
      <h2>&nbsp;<u>Features</u></h2>
      <div class="contact">
        <i>&nbsp;1. Avaliable all time.</i><br>
        <i>2. Easily service.</i><br>
      </div>
    </div>

    <div class="footer-section about">
      <h2><u>Contact us</u></h2>
      <div class="contact">
        <i class="fa fa-home" aria-hidden="true"> &nbsp; Vidya Nagar Hubli</i><br>
        <i class="fa fa-phone"> &nbsp; +91-9871546230</i><br>
        <i class="fa fa-envelope-o"> &nbsp; info@gmail.com</i>
      </div>
    </div>

    <div class="footer-section followus">
      <h2><u>Follow us</u></h2>
      <div class="socials">
        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
        <a href="https://www.gmail.com/"><i class="fa fa-google"></i></a>
        <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
        <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
      </div>
    </div>

  </div>
</div>