<p style="font-size: 20px;"><strong>Online Examination System</strong> is a web software solution, which allows any institute or industry to set up, direct and
    manage
    examinations via an online environs. Some of the problems faced during manual examination systems are the retard
    take
    place in
    result processing, filing poses a problem, chance of loss of records is more as well as searching records is hard.
    System Maintenance
    is also very difficult and time consuming and endeavor. Online examination is one of the essential parts for online
    educational
    system. It is effective, fast and reduces the large amount of resource material. An examination system is develop
    base
    on the
    internet. This paper delineate the system principle, presents the main intention of the system, analyzes the
    auto-create
    test paper
    algorithm, and discourse the system security.</p>